body {
    font-family: Georgia, serif;
    background-image: url(24.jpeg);
    margin: 0;
    padding: 0;
  }
  
  header {
    font-family: Garamond, serif;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    padding: 40px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;

  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
  .footer-text {
    font-size: 12px;
  }

  h1 {
    text-align: center;
    background-color: #5656569e;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: thick;
    text-decoration-skip: edges;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-transform: capitalize;
    
  }

  